<h3 class="titre-acordeon" id="idvalid"><strong>Annonces validées</strong>
    <a class=" " href="#idnonvalid"><span>Annonces non validées</span>{% include 'svg/svg_haut.html.twig' %}</a>
</h3>
<div class="tbody box-accordeon">
    {% set index = 0 %}
    {% for liste in listevalid %}


    {% set index = index + 1 %}
    {% set annonce = liste.annonce %}

    <article class=" annonce valid  {% if  index % 2 == 0  %} paire {% else %} impaire {% endif %} ">

        {% include 'consultant/element_annonce.html.twig'%}
        <div class="row">
            <div class="col-xxl-6 action">
                <a class="voir btn" href="{{path('app_consultant_annonce_voir',{'id':annonce.id})}}">{% include
                    'svg/svg_voir.html.twig' %}
                </a>
            </div>
            <div class="col-xxl-6 action">
                {% if listeCandidat[annonce.id]|length == 0 %}
                <a href="{{path('app_consultant_annonce_desactivation',{'id':annonce.id})}}"
                    class="btn btn-secondary">Supprimer la validation</a>

                {% else %}
                <strong class="color-alert">Cette annonce possède des candidats</strong>
                {% endif %}
                {% include 'svg/svg_valider_check.html.twig' %}
            </div>
        </div>


        {% if listeCandidat[annonce.id]|length > 0 %}
        <h4>Liste des candidatures</h4>
        <ul class="row candidatures">
            {% set listecdt = listeCandidat[annonce.id] %}

            {% for cdt in listecdt %}

            <li><span class="row">
                    <span class="col-12 col-xl-6">
                        <span class="col-xl-2 ">{{cdt.nom}},</span>
                        <span class="col-xl-2">{{cdt.prenom}},</span>
                        <span class="col-xl-3">{{cdt.pro}},</span>
                        <span class="col-xl-3">{{cdt.exp}}</span>
                        <span class="col-12 col-xl-2">
                            <a href="{{asset('./uploads/cv/'~ cdt.cv)}}" target="_blank" title="voir le cv"> {% include 'svg/svg_pdf.html.twig' %}</a>
                        </span>

                    </span>
                    <span class="col-12 col-xl-6">

                        {% if cdt.valider == 0%}
                        <span class="col-12 col-xl-6">
                            <a href="{{path('app_consultant_annonce_candidature_valider',{'id':cdt.id})}}"
                                class="btn btn-primary">Valider la candidature</a>
                            <a href="{{path('app_consultant_annonce_candidature_supprimer',{'id':cdt.id})}}"
                                class="btn " title="supprimer candidature">{% include 'svg/svg_supprimer.html.twig'
                                %}</a>
                        </span>
                    </span>

                    {% else %}
                    <span class="valider col-12 col-xl-6 color-alert">
                        Ce candidat a été retenue pour cette annonce
                    </span>
                    <span class="col-12 col-xl-6"><a
                            href="{{path('app_consultant_annonce_candidature_supprimer_validation',{'id':cdt.id})}}"
                            class="btn btn-secondary">Supprimer la validation</a>
                    </span>
                    {% endif %}
                </span>


                </span>
            </li>


            {% endfor %}

        </ul>
        {% endif %}

    </article>

    {% endfor %}
</div>