<div class="container  admin">
    {% if fiche == false %}

    {{ form_start(formconsultant) }}
    {{ form_row(formconsultant.email,{'attr': {'class': 'form-control'}}) }}
    {{ form_row(formconsultant.plainPassword, {
    label: 'mot de passe'},{'attr': {'class': 'form-control'}}) }}

    <div> <button type="submit" class="btn btn-primary">Ajouter</button></div>

    {{ form_end(formconsultant) }}
    {% else %}
    <div class="card fiche annonce alert-dismissible mb-3">
        <div class="card-header bg-color"><strong>Confirmer la suppression</strong><a class="btn btn-close  "
                href="{{path('app_admin_consultant')}}" title="annuler"></a>
        </div>

        <div class="card-body">
            <p class="bg-alert color-alert">Confirmer le suppression du
                consultant:<strong>{{ficheconsultant.email}}</strong></p>
            <p><a href="{{path('app_admin_consultant_supprimer_confirmer',{'id':ficheconsultant.id,'confirmer':'confirmer'})}}"
                    class="btn btn-primary">Suppression</a>
            </p>
        </div>
    </div>

    {% endif %}
    <br />
</div>


<div class="container liste admin">

    <section class="table">
        <div class="thead">
            <ul class="bg-color row">
                <li><strong>Email</strong></li>
                <li><strong>Modifier</strong></li>
                <li><strong>Supprimer</strong></li>
            </ul>
        </div>
        <div class="tbody">

            <ul>
                {% for consultant in liste %}
                <li class=" {% if  loop.index % 2 == 0  %} paire {% else %} impaire {% endif %}">
                    <span class="consultant">{{consultant.Email}}</span>
                    <span><a href="{{path('app_admin_consultant_supprimer',{'id':consultant.id})}}"
                            class="btn btn-primary">{% include 'svg/svg_supprimer.html.twig' %}</a></span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </section>

</div>