<div class="row">
    <div class="col-xl-2"><strong>N°:</strong>{{recruteur.trtProfilrecruteur.numero}}</div>
    <div class="col-xl-2">
        <h3><span><strong>Etablissement:</strong></span>{{recruteur.trtProfilrecruteur.etablissement}}</h3>
    </div>

    <div class="col-xl-2">
        <h4><span><strong>Nom :</strong></span><em>{{recruteur.trtProfilrecruteur.nom}}</em></h4>
    </div>

    <div class="col-xl-2"><span><strong>Ville:</strong></span>{{recruteur.trtProfilrecruteur.ville}}</div>
    <div class="col-xl-4"><span><strong>Email :</strong></span>{{recruteur.Email}}</div>
</div>