<div class="liste annonce ">

    <div class="action">
        <br />
        {% if valider == 'nonvalider' %}
        <p class="color-alert bg-alert ft-30">
            <strong>
                Votre profil n'a pa été validé par un consultant: Vous ne pouvez
                ajouter des annonces!!!
            </strong>
        </p>
        {% elseif action == 'ajouter' or action == 'modifier' %}

        {% include 'recruteur/formulaire_annonce.html.twig'%}
        {% elseif action == 'supprimer' %}
        {% include 'recruteur/suppression_annonce.html.twig'%}
        {% elseif action == 'voir' %}
        {% include 'recruteur/voir_annonce.html.twig'%}
        {% else %}
        <a href="{{path('app_recruteur_annonce_ajouter')}}" class="btn btn-secondary">Ajouter</a>
        {% endif %}

    </div>
    <br />
    <section class="table">
        <div class="thead">
            <ul class="bg-color row">
                <li class="col-xxl-1"><strong>Profession</strong></li>
                <li class="col-xxl-1"><strong>Contrat</strong></li>
                <li class="col-xxl-2"><strong>Experience</strong></li>
                <li class="col-xxl-2"><strong>Salaire Annuelle /Horaire</strong></li>
                <li class="col-xxl-1"><strong>Etat</strong></li>
                <li class="col-xxl-1"><strong>voir</strong></li>
                <li class="col-xxl-1"><strong>validation</strong></li>
                <li class="col-xxl-1"><strong>modifier/supprimer</strong></li>
            </ul>
        </div>

        <div class="tbody">
            {% for ann in liste %}
            <div class="novalid  {% if  loop.index % 2 == 0  %} paire {% else %} impaire {% endif %} row">


                <ul>

                    <li class="col-xxl-1"><span><strong>Profession:</strong></span>{{ann.Profession.titre}}</li>
                    <li class="col-xxl-1"><span><strong>Contrat: </strong></span>{{ann.Contrat.titre}}</li>
                    <li class="col-xxl-2"><span><strong>Experience :</strong></span>{{ann.Experience.titre}}</li>
                    <li class="col-xxl-2"><span><strong>Salaire Annuelle/Horaire
                                :</strong></span>{{ann.salaireAnnuel}} €/{{ann.horaire}}</li>

                    <li class="col-xxl-1"><span><strong>etat: </strong></span>{{ann.etat.titre}}</li>
                    <li class="col-xxl-1"><span><strong>voir: </strong></span><a class="voir"
                            href="{{path('app_recruteur_annonce_voir',{'id':ann.id})}}">{% include
                            'svg/svg_voir.html.twig' %}
                        </a>
                    </li>

                    {% if ann.complet == true %}
                    {% if ann.valider == true %}
                    <li class="col-xxl-1 color-alert">valider</li>
                    {% else %}
                    <li class="col-xxl-1">Non valider</li>
                    {% endif %}
                    {% else %}
                    <li class="col-xxl-1"><strong>Annonce incomplète</strong></li>
                    {% endif %}


                    <li class="col-xxl-1"><span><strong>modifier/supprimer </strong></span>
                        <a class="voir" href="{{path('app_recruteur_annonce_modifier',{'id':ann.id})}}">
                            {% include 'svg/svg_modifier.html.twig' %}

                        </a>
                        <a class="voir" href="{{path('app_recruteur_annonce_supprimer',{'id':ann.id})}}">
                            {% include 'svg/svg_supprimer.html.twig' %}
                        </a>
                    </li>
                </ul>
                <h5>Liste des candidats</h5>
                <ul class="liste-candidat">
                    {% for cdts in listeCandidats[ann.id] %}

                    <li>{{cdts.nom}},{{cdts.prenom}},{{cdts.profession}},{{cdts.experience}} <strong>CV</strong>
                        <a href="{{asset('./uploads/cv/'~ cdts.cv)}}" target="_blank" title="voir le cv"> {% include
                            'svg/svg_pdf.html.twig' %}</a>
                        <a href="{{path('app_recruteur_annonce_candidature_supprimer',{'id':cdts.id})}}"
                            class="btn btn-primary" title="supprimer candidature">Refuser la candidature</a> (un email
                        sera envoyé au candidat.)
                    </li>
                    {% endfor %}
                </ul>

            </div>
            {% endfor %}
        </div>
    </section>
</div>